html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-carrito {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: var(--spacing-68);
  margin-bottom: var(--spacing-68);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

/* CARRITO__TITLE */
.title {
  display: inline;
  font-size: var(--font-jumbo);
  border-bottom: var(--spacing-4) solid var(--primary-solid);
  border-radius: var(--spacing-4);
}

/* CARRITO__ITEMS */
/* CARRITO__ITEMS(items__header) */
.items__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--light-bg-solid);
  border-radius: var(--spacing-4);
  box-shadow: 0 0 var(--spacing-4) var(--spacing-4) var(--dark-100);
  margin-top: var(--spacing-36);
  padding: var(--spacing-12);
  padding-left: 0;
  padding-right: 0;
  gap: var(--spacing-8);
}

.header__paragraph {
  font-size: var(--font-medium);
  font-weight: bold;
}

/* CARRITO__ITEMS(items__item) */
.items__item {
  display: grid;
  grid-template-columns: 52% 27% auto;
  gap: var(--spacing-8);
  /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  */
  background-color: var(--light-bg-solid);
  border-radius: var(--spacing-20);
  box-shadow: 0 0 var(--spacing-4) var(--spacing-4) var(--dark-100);
  margin-top: var(--spacing-36);
  padding: var(--spacing-20);
}

.item__box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item__img {
  max-width: 150px;
}

.box__product {
  display: flex;
  gap: var(--spacing-4);
  flex-direction: column;
}

.item__name {
  font-size: var(--font-large);
  text-transform: uppercase;
}

.item__film {
  font-size: var(--font-xsmall);
  text-transform: uppercase;
  font-weight: bold;
}

.item__price {
  font-size: var(--font-xsmall);
}

.box__quantity {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-4);
  align-items: center;
}

.item__input {
  font-size: var(--font-large);
  width: var(--spacing-90);
  height: var(--spacing-45);
  border: 0.1rem solid var(--dark-300);
  text-align: center;
  padding-left: var(--spacing-16);
}

.item__operations {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.item__quantity {
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  border: none;
  font-size: var(--font-medium);
  width: var(--spacing-20);
  height: var(--spacing-20);
  cursor: pointer;
}

.box__total {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-90);
}

.item__total {
  font-size: var(--font-large);
}

.delete__button {
  border: none;
  border-radius: 50%;
  width: var(--spacing-36);
  height: var(--spacing-36);
  background-color: var(--light-bg-solid);
}

.item__delete {
  color: var(--primary-solid);
  cursor: pointer;
}

/* CARRITO__SUMMARY */
.carrito__summary {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  align-items: flex-end;
}

.carrito__box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  background-color: var(--light-bg-solid);
  border-radius: var(--spacing-4);
  box-shadow: 0 0 var(--spacing-4) var(--spacing-4) var(--dark-100);
  padding: var(--spacing-20);
  width: 100%;
  max-width: 500px;
}

.carrito__card, .carrito__total {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-128);
}

.title__carrito {
  font-size: var(--font-xsmall);
  font-weight: bold;
}

.paragraph__carrito {
  font-size: var(--font-xsmall);
  color: var(--dark-500);
  font-weight: bold;
}

.carrito__total {
  border-top: 2px solid var(--primary-solid);
  border-radius: 2px;
  padding-top: 2px;
}

.carrito__pay {
  font-size: var(--font-large);
  font-weight: bold;
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  padding: var(--spacing-16);
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin-top: var(--spacing-16);
}