<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin | Funkoshop</title>
  <link rel="stylesheet" href="../../css/index.css">
  <link rel="stylesheet" href="../../css/pages/admin/admin.css" />
</head>
<body> <!-- /pages/admin/admin.html -->
  <section class="top">
    <!-- Inicio Header -->
    <%- include('../partials/header.ejs') %>
    <!-- Fin Header -->
    <!-- Inicio Main -->
    <main class="container-admin">
    <form class="admin__search" action="">
      <label class="search__icon" for="search"><iconify-icon icon="radix-icons:magnifying-glass" width="30px" height="30px"></iconify-icon></label>
      <input class="search__input" type="text" id="search" name="search" placeholder="código, nombre o categoría">
    </form>
    <section class="admin__box">
      <h2 class="admin__title">LISTADO DE PRODUCTOS</h2>
      <div class="admin__smallBox">
        <p class="admin__paragraph">AGREGAR</p>
        <a href="./create.html" class="admin__add"><iconify-icon icon="material-symbols:add" width="30px" height="30px"></iconify-icon></a>
      </div>
    </section>
    <section class="admin__table">
      <section class="table__title">
        <p class="table__headers">ID</p>
        <p class="table__headers">Código</p>
        <p class="table__headers">Nombre del Producto</p>
        <p class="table__headers">Categoría</p>
      </section>
      <article class="table__article">
        <p class="table__register">1</p>
        <p class="table__register">STW001001</p>
        <p class="table__register">Baby Yoda Blueball</p>
        <p class="table__register">STAR WARS</p>
        <div class="table__icons">
          <a href="./edit.html" class="table__iconPencil"><iconify-icon icon="mdi:pencil" width="22px" height="22px"></iconify-icon></a>
          <a href="" class="table__iconTrash"><iconify-icon icon="heroicons-solid:trash" width="22px" height="22px"></iconify-icon></a>
        </div>
      </article>
      <article class="table__article">
        <p class="table__register">2</p>
        <p class="table__register">STW001002</p>
        <p class="table__register">Boba Fett Fighter</p>
        <p class="table__register">STAR WARS</p>
        <div class="table__icons">
          <a href="./edit.html" class="table__iconPencil"><iconify-icon icon="mdi:pencil" width="22px" height="22px"></iconify-icon></a>
          <a href="" class="table__iconTrash"><iconify-icon icon="heroicons-solid:trash" width="22px" height="22px"></iconify-icon></a>
        </div>
      </article>
      <article class="table__article">
        <p class="table__register">3</p>
        <p class="table__register">STW001003</p>
        <p class="table__register">Luke Skylwalker & Grogu</p>
        <p class="table__register">STAR WARS</p>
        <div class="table__icons">
          <a href="./edit.html" class="table__iconPencil"><iconify-icon icon="mdi:pencil" width="22px" height="22px"></iconify-icon></a>
          <a href="" class="table__iconTrash"><iconify-icon icon="heroicons-solid:trash" width="22px" height="22px"></iconify-icon></a>
        </div>
      </article>
    </section>
    </main>
    <!-- Fin Main -->
  </section>
  <section class="bottom">
    <!-- Inicio Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- Fin Footer -->
  </section>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>
