<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register | Funkoshop</title>
  <link rel="stylesheet" href="../../css/index.css">
  <link rel="stylesheet" href="../../css/pages/admin/register.css" />
</head>
<body> <!-- /pages/admin/register.html -->
  <section class="top">
    <!-- Inicio Header -->
    <%- include('../partials/header.ejs') %>
    <!-- Fin Header -->
    <!-- Inicio Main -->
    <main class="container-register">
    <h1 class="register__title">CREA TU CUENTA</h1>
    <h2 class="register__subtitle">Completa el formulario para ser parte del mundo de los Funkos</h2>
    <form class="register__form" action="">
      <article class="register__cells">
        <label class="register__label" for="register_name">Nombre:</label>
        <input class="register__input" type="text" name="register_name" id="register_name" placeholder="John">
      </article>
      <article class="register__cells">
        <label class="register__label" for="register_surname">Apellido:</label>
        <input class="register__input" type="text" name="register_surname" id="register_surname" placeholder="Doe">
      </article>
      <article class="register__cells">
        <label class="register__label" for="register_email">Email:</label>
        <input class="register__input" type="email" name="register_email" id="register_email" placeholder="johndoe@correo.com">
      </article>
      <article class="register__cells">
        <label class="register__label" for="register_password">Contraseña:</label>
        <input class="register__input" type="password" name="register_password" id="register_password" placeholder="●●●●●●●●●">
      </article>
      <article class="register__cells">
        <label class="register__label" for="register_passwordConfirm">Repita Contraseña:</label>
        <input class="register__input" type="password" name="register_passwordConfirm" id="register_passwordConfirm" placeholder="●●●●●●●●●">
      </article>
      <article class="register__cells">
        <input class="register__submit" type="submit" value="Registrar">
        <label class="register__conditions" for="register_conditions">
          <input type="checkbox" name="register_conditions" id="register_conditions">Acepto 
          <a class="conditions__link" href="">Términos y Condiciones</a>
        </label>
      </article>
    </form>
    </main>
    <!-- Fin Main -->
  </section>
  <section class="bottom">
    <!-- Inicio Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- Fin Footer -->
  </section>
</body>
</html>
